/* Laptops and desktops (1100-1405px) */
@media only screen and (min-width: 1100px) and (max-width: 1405px) {
  /* your css goes here */
  .skyline-bg {
    max-height: 500px !important;
  }
  header .container {
    padding-top: 300px;
  }
  header .intro-text .tagline {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }
  header .intro-text {
    font-size: 52px;
    margin-top: -5%;
  }
  .rounded {
    border-radius: 3em 3em 3em 3em !important;
    margin: 6em auto !important;
  }
  header .intro-text p {
    width: 17em;
  }
  .scroll-down {
    padding: 12px 25px;
  }
}

/* Large screens (1405px upwards) */
@media only screen and (min-width: 1405px) {
  /* your css goes here */
  .skyline-bg {
    max-height: 750px !important;
  }
  header .container {
    padding-top: 400px;
  }
}
/* @media only screen and (min-width: 1280px) {
  header .intro-text {
    font-size: 46px;
  }
} */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 227dpi),
  only screen and (min-resolution: 2dppx) {
  /* Retina styles here */
  header .intro-text {
    font-size: 52px;
    margin-top: -5%;
  }
  .rounded {
    border-radius: 3em 3em 3em 3em !important;
    margin: 6em auto !important;
  }
}

/* Landscape */
@media only screen and (min-width: 1112px) and (max-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Apple iPad Pro 12.9 (2018) Retina Media Queries */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 264dpi),
  only screen and (min-resolution: 2dppx) {
  /* Retina styles here */
  #wrapper {
    height: 100vh !important;
  }
  header .intro-text {
    font-size: 52px;
    margin-top: -5%;
  }
  .rounded {
    border-radius: 3em 3em 3em 3em !important;
    margin: 6em auto !important;
    width: 50% !important;
  }
  .curve-border {
    border-radius: 0% 0% 5% 5% / 5%;
  }
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -40% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -40% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -50% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -60% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone XR, 11 */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -50% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -60% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* iphone 12 Pro Max */
@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .intro-text {
    font-size: 36px !important;
    margin-top: -60% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}

/* Smartphones in portrait mode (0-479px) */
@media only screen and (max-width: 479px) {
  /* your css goes here */
  .intro-text {
    font-size: 36px !important;
    margin-top: -60% !important;
  }
  header .intro-text span {
    font-size: 100px !important;
  }
  .hide-nav {
    display: none;
  }
  .project-showcase {
    margin-bottom: 0px;
    width: 100%;
  }
  .project-desc {
    height: auto;
    margin-bottom: 50px;
  }
  .form-section {
    padding: 15px;
  }
  .skyline-bg {
    display: none;
  }
}
